// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap');

$body-font: "Poppins";
$headers-font: "Poppins";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

h5 {
  font-style: italic;
  letter-spacing: 3px;
  font-size: 20px;
}


p {
  font-weight: light;
  font-size: 20px;
  letter-spacing: 1px;
}


.small-text-show {
  font-weight: light;
  font-size: 20px;
  letter-spacing: 1px;
}

.vertical-text-right {
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p #description {
  font-size: 20px;
}
