// Specific CSS for your home-page
.hr-container {
  overflow: hidden;
  width: 100%;
}

.sommelier-info-container {
  p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 60px;
    height: 33px;
  }
}

.info-footer {
  p {
    font-color: grey;
    font-size: 12px;
    padding-left: 9px;
    padding-top: 33px;
    padding-right: 50px;
    padding-bottom: 36px;
  }
}

.carousel {
  margin-right: -15px;
  margin-left: -15px;
}

.carousel-inner {
  padding-right: 15px;
}

.carousel-control-prev {
  left: -140px;
}

.carousel-control-next {
  right: -103px;
}

.carousel-item {
  padding-left: 15px;
}

.sommeliers-comments-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 362px;
  padding-top: 35px;
  padding-right: 72px;
  border-style: solid;
  border-width: 1px;
  border-left-color: black;
  border-bottom-color: black;
  border-top-color: black;
  border-right-color: rgba(0, 0, 0, 0.0);
  p {
    padding-bottom: 36px;
    font-size: 18px;
  }
}

.somm-comments-footer {
  height: 100%;
  width: 640px;
  p {
    font-size: 15px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 36px;
    padding-left: 9px;
    font-color: grey;
    display: flex;
    align-self: flex-end;
  }
  .avatar-small {
    margin-right: 0px;
    margin-top: 0px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}

#garth-reeves-comment {
  padding-bottom: 34px;
  margin-bottom: 50px;
}

#anne-de-tarot-comment {
  padding-bottom: 6px;
  margin-bottom: 26px;
}

#devon-ashberry-comment {
  padding-bottom: 6px;
}

#dev-ashberry-name {
  margin-bottom: 24px;
}

#g-reeves-name {
  margin-bottom: 23px;
}

#anne-de-tarot-name {
  margin-bottom: 21px;
}
