<h1>ABOUT US</h1>

<div class="banner-container">
  <div class="banner" style="background-image: url(<%= asset_path('zoolandercast.jpg') %>);">
    <div class="banner-contents-container">
  <br>
      <h4>Moisture is the essence of wetness</h2>
      <p class="text-white">We wanted to create something standard for still water in many trendy restaurants. It is sometimes abused to show status by using it to bathe in, and some females report a bitter metallic aftertaste when drinking Evian.. </p>
    </div>
  </div>
</div>
