<div class="content2-div">

  <h1 class="mt-5 mb-5">ABOUT US</h1>

  <div  class="card-wide d-flex flex-column">
    <div class="card-wide-top-container">
      <div class="card-wide-info-container">
        <div class="card-wide-info">
          <p class="very-small-text-show">Brought to you by:</p>
          <p class="small-text-show">Alex "Blue Steel" Clark</p>
          <p class="small-text-show">Divya "Splash" Chouhan</p>
          <p class="small-text-show">Ed "Typhoon" Parsons</p>
          <p class="small-text-show">Tim "Barracuda" Masek</p>
        </div>
      </div>
      <div class="card-wide-image-container">
      <%= image_tag "group-59.png", class: "about_img" %>
<!--         <div class="about-us" im></div> -->
    </div>
  </div>
</div>

 <p id="description" class="mt-5 description">We wanted to create something standard for still water in many trendy restaurants. It is sometimes abused to show status by using it to bathe in, and some females report a bitter metallic aftertaste when drinking Evian..We wanted to create something standard for still water in many trendy restaurants. It is sometimes abused to show status by using it to bathe in, and some females report a bitter metallic aftertaste when drinking Evian.We wanted to create something standard for still water in many trendy restaurants. It is sometimes abused to show status by using it to bathe in, and some females report a bitter metallic aftertaste when drinking Evian.</p>
