<div class="content2-div">

  <h1 class="mt-5 mb-5">WATER LIKE WINE:</h1>
  <h3 class="mt-5 mb-5">Our Mission, Our Team, Our Dream</h3>

  <div  class="card-wide d-flex flex-column">
    <div class="card-wide-top-container">
      <div class="card-wide-info-container">
        <div class="card-wide-info">
          <p class="small-text-show">Brought to you by:</p>
          <p class="very-small-text-show">Alex "Blue Steel" Clark</p>
          <p class="very-small-text-show">Divya "Splash" Chouhan</p>
          <p class="very-small-text-show">Ed "Typhoon" Parsons</p>
          <p class="very-small-text-show">Tim "Barracuda" Masek</p>
        </div>
      </div>
      <div class="card-wide-image-container">
      <%= image_tag "group-59.png", class: "about_img" %>
<!--         <div class="about-us" im></div> -->
    </div>
  </div>
</div>

 <p id="description" class="mt-5 description">Here at WaterLog, we believe that a platform is much more than just
 features, links, content, or the code that glues it all together. Here at WaterLog, we believe that a platform (at least
a good one) is a concept. Water is not a concept, water is real. But nor is water just a commodity. Water is the oldest
and most precious substance on earth, and its value is irreducible to any instrumental characterisation, to the effect,
for instance, that it is a 'resource', like oil, grain or metal-ore. Water is not part of life, it is, quite simply, life itself. <br>
So, if WaterLog is a concept, what sort of concept is it? At WaterLog, the aim is not to create a new product, but to redefine and
rediscover an ancient relationship: that deep and spiritual connection of all humans and living beings with the ultimate source
of life-energy. Redefining our relationships with something we think we know so well, and something, in equal parts, we never give a
second thought, may seem strange, even unwelcome, even impossible. Whatever it is, it is necessary. <br>
<br>
<div class="counter w-100 d-flex justify-content-center">
  <iframe title='Earth running out of freshwater' src='https://www.theworldcounts.com/embed/challenges/113?background_color=white&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=30' style='border: none' height='300' width='900'></iframe>
</div>
<br>


</p>
