<!-- banner -->
<div class="banner-container">
  <div class="banner" style="background-image: url(<%= asset_path('banner_background_mountain.jpg') %>);">
    <div class="banner-contents-container">
      <h1>Rediscover Water</h1>
      <p>Find, log and rate waters from all over the world.</p>
      <%= render 'shared/search_form' %>
    </div>
  </div>
</div>

<div class="spacer-transparent">
</div>

<div class="content2-div">
  <div class="flexbox">

    <div class="card-bottle-tall">
      <div class="card-bottle-tall-image-container">
        <img src="http://www.finewaters.com/images/bottles/italy/pannaL.jpg" />
      </div>
      <div class="card-bottle-info">
        <div class="card-bottle-info-container">
          <p>acquapanna</p>
          <p>acquapanna</p>
          <p>Still</p>
          <p>Italy</p>
          <p>8.2 ph</p>
        </div>
      </div>
    </div>

    <div class="card-bottle-tall">
      <div class="card-bottle-tall-image-container">
        <img src="http://www.finewaters.com/images/bottles/italy/pannaL.jpg" />
      </div>
      <div class="card-bottle-info">
        <div class="card-bottle-info-container">
          <p>acquapanna</p>
          <p>acquapanna</p>
          <p>Still</p>
          <p>Italy</p>
          <p>8.2 ph</p>
        </div>
      </div>
    </div>
    
    <div class="card-bottle-tall">
      <div class="card-bottle-tall-image-container">
        <img src="http://www.finewaters.com/images/bottles/italy/pannaL.jpg" />
      </div>
      <div class="card-bottle-info">
        <div class="card-bottle-info-container">
          <p>acquapanna</p>
          <p>acquapanna</p>
          <p>Still</p>
          <p>Italy</p>
          <p>8.2 ph</p>
        </div>
      </div>
    </div>

    <div class="card-bottle-tall">
      <div class="card-bottle-tall-image-container">
        <img src="http://www.finewaters.com/images/bottles/italy/pannaL.jpg" />
      </div>
      <div class="card-bottle-info">
        <div class="card-bottle-info-container">
          <p>acquapanna</p>
          <p>acquapanna</p>
          <p>Still</p>
          <p>Italy</p>
          <p>8.2 ph</p>
        </div>
      </div>
    </div>
  </div>
</div>

<spacer class="spacer-transparent" type="horizontal" width="100" height="100"> ♢ </spacer>


