<div class="right-cta-column">
  <p>sq</p>
</div>

<div class="right-column">
  <p>sq</p>
</div>

<div class="left-column">
  <p>sq</p>
</div>

<div class="content-div">
  <div class="form-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>
  <div class="form-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>
  <div class="form-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>
  <div class="form-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>
</div>




