<div class="right-cta-column">
  <p style="writing-mode: vertical-rl">YOUR WATERS</p>
</div>

<div class="right-column">
  <p>sq</p>
</div>

<div class="left-column">
  <p>sq</p>
</div>

<div class="content-div">
  <div class="content2-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>

  <spacer class="spacer-transparent" type="horizontal" width="100" height="100"> ♢ </spacer>

  <div class="content2-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>
  <div class="content2-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>
  <div class="content2-div mt-2">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <button class="submit-button">Search water</button>
  </div>
</div>




