<!-- banner -->

<div class="banner" style="background-image: url(<%= asset_path('banner_background_mountain.jpg') %>);">
  <div class="banner-contents-container">
    <h1>Rediscover Water</h1>
    <p>Find, log and rate waters from all over the world.</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="searchbar-container">
        <input class="searchbar string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="submit-button">
          Search water
        </button>
      </div>
    <% end %>
  </div>
</div>

<!-- card -->
<div class="card-bottle-tall">
  <img src="http://www.finewaters.com/images/bottles/italy/pannaL.jpg" />
  <div class="card-bottle-info">
    <p>acquapanna</p>
    <p>acquapanna</p>
    <p>Still</p>
    <p>Italy</p>
    <p>8.2 ph</p>
  </div>
</div>
