// banner container

.banner-contents-container {
  width: 1196px;
  height: 270px;
  margin-left: 89px;
  margin-right: 60px;
}






// searchbar

.searchbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchbar {
  width: 293px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.55);
  box-sizing: border-box;
  margin-right: 4px;
}
