
// home page and index card

.card-bottle-tall {
  width: 90%;
  min-height: 500px;
  background: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  transition: 0.5s;
  .card-bottle-tall-image-container {
    height: 360px;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 16px;
    img {
      max-height: 360px;
      max-width: 90%;
      object-fit: cover;
    }
  }
  .card-bottle-info {
    width: 90%;
    .card-bottle-info-container {
      margin-left: 12px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      p {
        margin: 0px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.card-bottle-tall:hover {
  filter: brightness(70%);
}

// show-page card

.card-wide {
  height: 670px;
  width: 1150px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-left: 60px;
  margin-top: 60px;
  margin-right: 190px;
  .card-wide-top-container {
    display: flex;
    flex-direction: row;
    height: 575px;
    .card-wide-info-container {
      width: 50%;
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.0);
      border-right-style: solid;
      border-right-color: black;
      border-right-width: 1px;
      margin-left: 30px;
      .card-wide-info {
        display: flex;
        flex-direction: column;
      }
    }
    .card-wide-image-container {
      width: 50%;
      display: flex;
      justify-content: center;
      background-color: white;
      padding: 40px;
      img {
        max-height: 575px;
        max-width: 575px;
        object-fit: cover;
      }
    }
  }
  .card-wide-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 1px;
    height: 93px;
    width: 100%;
    .card-wide-footer-info-container {
      margin-left: 30px;
    }
  }
}
