.nav-link {
  background-color: white;
  border: black;
}

.nav-item.show {
  color:blue;
}

#tried-tab.active {
  color:blue;
}

#reviewed-tab.active {
  color:blue;
}

.tab-style {
  border-bottom-opacity: 0.1;
}
