.navbar {
  background: #F9FCFF;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid black;
  color: black;
  height: 80px;
  z-index: 1;
}

.navbar-brand {
  color: black;
}

.nav-link {
  color: black;
}

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.navbar-text {
  color: black;
}

.navbar-collapse {
  flex-grow: unset;
  flex-basis: unset;
}

.nav-item.dropdown {
  display: flex;
  align-items: center;
}

.burger-dropdown {
  transition: all .1s ease-in-out;
}

.burger-dropdown:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.fa-hand-holding-water {
  font-size: 25px;
}

.logo{
  a {
    transition: 0.3s;
  }
  a:hover {
    opacity: 1;
    color: grayscale($color:  #38554F);
  }
}

.navbar-searchform-container {
  display: flex;
  justify-content: flex-start;
  margin-right: 20px;
  .fa-search {
    font-size: 18px;
    margin-right: 7px;
    line-height: 2.4;
  }
  .searchform {
    width: 256px;
    height: 40px;
    background: rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    border-top: rgba(0, 0, 0, 0.0);
    border-left: rgba(0, 0, 0, 0.0);
    border-right: rgba(0, 0, 0, 0.0);
    box-sizing: border-box;
    padding-bottom: 2px;
    &:focus-visible {
      outline: none;
    }
  }
  .searchform.string.required {
    padding: 0 7px;
  }
}



// .navbar-waterlog {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 60px;
//   background: #F9FCFF;
//   padding-left: 50px;
//   padding-right: 50px;
//   border-bottom: 3px solid black;
// }

// .nav-logo-div {
//   width: 100px;
//   height: 30px;
// }

// .dark-pink-text {
// color: #AC003A;
// }
// .dark-amber-text {
// color: #ff6f00;
// }
// .dark-teal-text {
// color: #004d40;
// }
