.navbar {
  background: #F9FCFF;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid black;
  color: black;
  height: 80px;
  z-index: 1;
}

.navbar-brand {
  color: black;
}

.nav-link {
  color: black;
}

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.navbar-text {
  color: black;
}

.navbar-collapse {
  flex-grow: unset;
  flex-basis: unset;
}

.burger-dropdown {
  transition: all .1s ease-in-out;
}

.burger-dropdown:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.fa-hand-holding-water {
  font-size: 25px;
}

// .navbar-waterlog {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 60px;
//   background: #F9FCFF;
//   padding-left: 50px;
//   padding-right: 50px;
//   border-bottom: 3px solid black;
// }

// .nav-logo-div {
//   width: 100px;
//   height: 30px;
// }

// .dark-pink-text {
// color: #AC003A;
// }
// .dark-amber-text {
// color: #ff6f00;
// }
// .dark-teal-text {
// color: #004d40;
// }
