.navbar-waterlog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #F9FCFF;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 3px solid black;
}

.nav-logo-div {
  width: 100px;
  height: 30px;
}
