.very-small-text-review {
  // margin-left: 40px;
  font-weight: light;
  font-size: 16px;
  letter-spacing: 1px;
  width: calc(100vw - 330px);
  font-style: italic;
}

.very-small-text-review-name {
  margin-right: 5px;
  font-weight: light;
  font-size: 16px;
  letter-spacing: 1px;
}

.review {
  width: calc(100vw - 330px);
  font-style: italic;
  // width :calc(1200px);
}

.reviews {
  margin-bottom: 0px,
}

.edit-review {
  width: 600px;
  font-size: 16px;
  text-transform: capitalize;
}
